/*---CSS styles---*/
/*---note that styles outside of media queries are for mobile---*/
.borderred {
    border: solid red;
}

html {
    font-size: 16px;
}

:root {
    /* colors */
    --light-color:#FAF9F6;
    --dark-color:#161616;
    --accent-color: #855453;
    --available-color: #00BD23;

    /* default fonts */
    --header-font: "Gloock", serif;
    --body-font: "Lato", serif;

    /* font sizes */
    --body-size: 1.618rem; /* 1 * golden ratio*/
    --title: clamp(4.0rem, 7vw, 8rem); /* 4 * golden ratio */ 
}

.header-font {
    font-size: var(--title);
    font-family: var(--header-font);
    font-weight: 500;
    color: var(--light-color);
    transition: color 0.25s ease-in-out;
}

.header-font:hover {
    color: var(--accent-color);
}

.body-font-extra-light {
    color: var(--light-color);
    font-family: var(--body-font);
    font-weight: 100;
}

.body-font-light {
    color: var(--light-color);
    font-family: var(--body-font);
    font-weight: 300;
    font-size: var(--body-size);
}

body {
    cursor: none;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 3% 5%;
    position: relative;
    /*these lines make percentage based sizing work*/
    background-color: var(--dark-color);
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    cursor: none;
}

p {
    padding: 0;
    margin: 0;
}



/*---slide up and fade animation---*/
@keyframes slideUpAndFade{
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*---color oscillation---*/
@keyframes colorCycle {
    from, to {background-color: var(--available-color);}
    6.25% {background-color: #00CD23;}
    12.5% {background-color: #00D323;}
    18.75% {background-color: #00DD23;}
    25% {background-color: #00E323;}
    31.25% {background-color: #00ED23;}
    37.5% {background-color: #00F323;}
    43.75% {background-color: #00FD23;}
    50% {background-color: #00FF23;}
    56.25% {background-color: #00FD23;}
    62.5% {background-color: #00F323;}
    68.75% {background-color: #00ED23;}
    75% {background-color: #00E323;}
    81.25% {background-color: #00DD23;}
    87.5% {background-color: #00D323;}
    93.75% {background-color: #00CD23;}
}

/* grain oscillation--*/
@keyframes grainOscillate {
    0% { background-position: 0 0; }
    50% { background-position: -150px -150px;}
    100% { background-position: 150px 150px; }
}

#grain {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-image: url('images/grain.png');
    background-repeat: repeat;
    opacity: 0.25;
    animation: grainOscillate 1.5s steps(10) infinite;
}

#custom-cursor {
    position: fixed;
    top: 10%;
    left: 15% ;
    width: 20px; /* or whatever size you want */
    height: 20px;
    background-image: url('images/custom-cursor.png');
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

#custom-cursor.enlarged {
    width: 23px;
    height: 23px;
    transform: translate(-50%, -50%) scale(1.5);
}


/*------------------------------styles for index.html------------------------------*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#logo-link-wrapper {
    width: 20%;
}

#logo {
    width: 100%;
    animation: slideUpAndFade 1.0s forwards;
}

/*use this class if you want the oscilatting green icon*/
#availability-indicator {
    border-radius: 50%;
    background-color: var(--available-color);
    height: 12px;
    width: 12px;
    animation: colorCycle 1.25s infinite;
}

#live-clock {
    animation: slideUpAndFade 0.75s forwards;
}

nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1% 0;
}

nav:has(li:hover) + img {
    filter: blur(4px);
}

#flower-image {
    aspect-ratio: 16/9;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1 ;
    width: 66%;
    animation: slideUpAndFade 1.75s forwards;
    transition: filter 0.25s ease-in-out;
}

ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    transform: translateY(15px);
    animation: slideUpAndFade 1.25s forwards;
}

li a {
    text-decoration: none;
    
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%; 
}

footer p {
    animation: slideUpAndFade 0.75s forwards;
}




/*------------------------------styles for index.html------------------------------*/