/*---CSS styles---*/
/*---note that styles outside of media queries are for mobile---*/

:root {
    /* colors */
    --light-color:#FAF9F6;
    --dark-color:#000000;
    --accent-color-1: #82494C;
    --accent-color-2: #9C9B6C;
    --available-color: #00BD23;

    /* default fonts */
    --header-font: "Major Mono Display", serif;
    --body-font: "Lato", serif;

    /* font sizes */
    --body-size: 16px;
    --small-title: 25px;
    --medium-title: 41px;
    --page-title:  65px;
    --nav-links: 105px;
}

.body-font-extra-light {
    font-family: var(--body-font);
    font-weight: 100;
}

.body-font-light {
    font-family: var(--body-font);
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0 3%;
    position: relative;
    cursor: none;
    /*these lines make percentage based sizing work*/
    height: 100vh;

}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    cursor: none;
}

p {
    padding: 0;
    margin: 0;
}



/*---slide up and fade animation---*/
@keyframes slideUpAndFade{
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*---color oscillation---*/
@keyframes colorCycle {
    from, to {background-color: var(--available-color);}
    6.25% {background-color: #00CD23;}
    12.5% {background-color: #00D323;}
    18.75% {background-color: #00DD23;}
    25% {background-color: #00E323;}
    31.25% {background-color: #00ED23;}
    37.5% {background-color: #00F323;}
    43.75% {background-color: #00FD23;}
    50% {background-color: #00FF23;}
    56.25% {background-color: #00FD23;}
    62.5% {background-color: #00F323;}
    68.75% {background-color: #00ED23;}
    75% {background-color: #00E323;}
    81.25% {background-color: #00DD23;}
    87.5% {background-color: #00D323;}
    93.75% {background-color: #00CD23;}
}



/*------------------------------styles for index.html------------------------------*/

aside {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: slideUpAndFade 0.75s forwards;
}

#availability-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

#availability-indicator {
    border-radius: 50%;
    background-color: var(--available-color);
    height: 12px;
    width: 12px;
    animation: colorCycle 1.25s infinite;
}

.content-flex-container {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-box {
    display: flex;
    justify-content: space-between;
    width: 250px;
    aspect-ratio: 1 / 1;
    border: solid var(--dark-color) 3px; 
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--header-font);
    font-weight: 300;
}

.logo-line {
    font-size: var(--medium-title);
    margin: 0 20px;

}

.logo-subheader {
    font-size: var(--small-title);
    font-family: var(--body-font);
    line-height: 31px;
    margin: 0 20px;

}



nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--medium-title); /*1.5 line spacing on mobile*/
    align-items: center;
    list-style-type: none;
    transform: translateY(15px);
    animation: slideUpAndFade 0.75s forwards;
}

li a {
    font-family: var(--header-font);
    font-size: var(--medium-title);
    text-decoration: none;
    color:inherit;
    transition: color 0.25s ease-in-out;
}

li a:hover {
    color: var(--accent-color-1);
}




img {
    position: absolute;
    z-index: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; 
}

#flower-image {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(images/Flowers.png);
    background-size: cover;
    width: 704px;
    height: 357px;
}

/*---Medium Screens---*/
@media (min-width: 500px) {
    li a{
        font-size: var(--page-title);
    }
}

@media (min-width: 1200px) {

    body {
        justify-content: space-around;
    }

    aside {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 10%;
    }

    .content-flex-container {
        height: 80%;
        display: flex;
        flex-direction: row;
    }

    header {
        width: 33%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #logo-box {
        width: 375px;
        aspect-ratio: 1 / 1;
    }

    .logo-line {
        font-size: var(--page-title);
    }

    .logo-subheader {
        font-size: var(--medium-title);
    }
    


    nav {
        height: 100%;
        width: 67%;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    ul {
        height: 100%;
        align-items: flex-end;
    }
    
    li a{
        /*hacky fix to make the top of the text line up with the top of the logo*/
        line-height: 0.6;
        font-size: var(--nav-links);
    }
    
    
    h1 {
        font-size: var(--medium-title);
        font-family: var(--header-font);
        font-weight: 300;
    }

    footer {
        align-items: center;
        justify-content: flex-end;
        height: 10%;
    }


    /* Custom cursor styling */
    #custom-cursor {
        position: fixed; /* Fixes the cursor relative to the viewport */
        top: 50%;
        left:50%;
        width: 20px; /* Circle size */
        height: 20px;
        background-color: rgba(130, 73, 76, 0.7); /* Circle color */
        border-radius: 50%; /* Makes it a circle */
        pointer-events: none; /* Prevent blocking interactions */
        transform: translate(-50%, -50%); /* Centers the circle on the mouse pointer */
        z-index: 10000;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    /* Enlarged state */
    #custom-cursor.enlarged {
        transform: scale(1.5); /* Enlarge the cursor */
    }
}

/* for landscape mode on larger mobile devices*/
@media (max-height: 825px) and (max-width: 1200px){
    body {
        height: fit-content;
        gap: 16px;
    }
}

/*------------------------------styles for index.html------------------------------*/



